<p>My name is Nizar Triki, a network and security consultant currently based in Montreal, Canada. <br/>I'm taking this course to enhance my web development skills.<br/>I hope combining these new skills to my designer eyes to build nice staff.</p>        
 