// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Typography*/

.font-lato {
    font-family : 'Lato', sans-serif;
}
.font-merriweather {
    font-family : 'Merriweather', serif;
}

body {
    padding-top: 50px;
}

.image-box {
    height: 290px;
    width: 390px;
    padding: 20px;
}