<p id="notice"><%= notice %></p>

<h3 class="text-uppercase">Listing Products</h3>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-1">Name</div>
        <div class="col-md-5">Description</div>
        <div class="col-md-1">Price</div>
        <div class="col-md-1">Image url</div>
        <div class="col-md-1">Colour</div>
        <div class="col-md-3">Manage</div>
    </div>
    <% @products.each do |product| %>
        <%= render partial: "product", locals: {product: product} %>
   <% end %>
</div>

<br>
<%= link_to 'New Product', new_product_path %>
